.panel{
	background-color: #00cc00;
	position: fixed;
	left : 0px;
	top : 0px;
	width:1280px;
	height : 100px;
}

.head{
	font-family: sans-serif;
	color: #ff0000;
	position: fixed;
	top: 5px;
	left: 400px;
	font-size: 200%;
}